.visible{
    background-color: darkslategrey;
    width: 300px;
    height: 200px;
    border: 2pxdashed red;
    overflow: visible;
}
.oculto{
    background-color: darkturquoise;
    width: 300px;
    height: 200px;
    border: 2px dashed green;
    overflow: hidden;
}
.barra{
    background-color: darkturquoise;
    width: 300px;
    height: 200px;
    border: 2px dashed green;
    overflow: scroll;
}
.automatico{
    background-color: darkturquoise;
    width: 300px;
    height: 200px;
    border: 2px dashed orange;
    overflow: auto;
}
.doble{
    background-color: darkturquoise;
    width: 300px;
    height: 200px;
    border: 2px dashed violet;
    overflow-x: scroll;
    overflow-y: hidden;
}