.contenedor{ 
    width: 980px; 
    height: 800px; 
    background-color: #707070; 
    margin: auto;
}
.cabecera{ 
    width: 980px; 
    height: 250px; 
    background-color: #f21212;
}
.menu{ 
    width: 310px; 
    height: 490px; 
    background-color: #4818eb;
}
.contenido{ 
    width: 670px; 
    height: 490px;
}